<!DOCTYPE html>
<html>
<head>
  <title>GoalPost</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if signed_in? %>
  <h5>Logged in as <%= current_user.username %></h5>
  <form action="<%= session_url %>" method="post">
    <%= auth_token_input %>
    <input type="hidden" name="_method" value="delete">

    <input type="submit" value="Sign out">
  </form>
<% end %>

<% unless flash.now[:errors].nil? %>
  <% flash.now[:errors].each do |error| %>
    <%= error %><br>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
